<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
    {{ partial "head.html" . }}
</head>
<body>
    <!-- Header -->
    <header>
        {{ partial "header.html" . }}
    </header>

    <!-- Main Content with TOC Sidebar -->
    <main class="main-wrapper-with-toc">
        <section id="th-templecourse-content">
            <div class="container">
                <div class="tms-asta-lingam row">
                    <!-- Content Area -->
                    <div class="col-md-9">
                        <div class="th-templecourse-content-area">
                            <div class="th-templecourse-container th-templecourse-details">
                                <div class="th-templelatest-course-single">
                                    <div class="th-templelatest-course-single-content">
                                        <div class="asta-lingam-content temple-about">
                                            {{ .Content }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Image Sidebar -->
                    <div class="col-md-3">
                        <div class="img-wrappeer-sidenav">
                            <img src="https://w0.peakpx.com/wallpaper/363/786/HD-wallpaper-mahadev-shiva-god-shivan.jpg" style="width: 100%; margin-bottom: 20px;" alt="Responsive image">
                            <img src="https://i.pinimg.com/736x/0e/2f/c0/0e2fc0ce2ffc50554ae43d39d223da1f.jpg" style="width: 100%; margin-bottom: 20px;" alt="Responsive image">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer -->
    <footer id="footer" class="footer" style="margin-top: 75px;">
        {{ partial "footer.html" . }}
    </footer>
</body>
</html>
