<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
    {{ partial "head.html" . }}
</head>
<body>
    <!-- Header -->
    <header>
        {{ partial "header.html" . }}
    </header>

    <!-- Main Content with TOC Sidebar -->
    <main class="main-wrapper-with-toc pt-0">
        <section id="th-templecourse-content pt-0">
            <div class="container">
                <div class="tms-asta-lingam row">
                    <div class="col-md-2">
                        <div class="img-wrappeer-sidenav">
                            <img src="https://img.freepik.com/premium-photo/png-buddhist-ashoka-pillar-architecture-lighting-column_53876-685765.jpg?w=360" style="width: 100%; margin-bottom: 20px;" alt="Responsive image">
                            <img src="https://img.freepik.com/premium-photo/png-buddhist-ashoka-pillar-architecture-lighting-column_53876-685765.jpg?w=360" style="width: 100%; margin-bottom: 20px;" alt="Responsive image">
                            <img src="https://img.freepik.com/premium-photo/png-buddhist-ashoka-pillar-architecture-lighting-column_53876-685765.jpg?w=360" style="width: 100%; margin-bottom: 20px;" alt="Responsive image">
<img src="https://img.freepik.com/premium-photo/png-buddhist-ashoka-pillar-architecture-lighting-column_53876-685765.jpg?w=360" style="width: 100%; margin-bottom: 20px;" alt="Responsive image">
                            <img src="https://img.freepik.com/premium-photo/png-buddhist-ashoka-pillar-architecture-lighting-column_53876-685765.jpg?w=360" style="width: 100%; margin-bottom: 20px;" alt="Responsive image">
                            <img src="https://img.freepik.com/premium-photo/png-buddhist-ashoka-pillar-architecture-lighting-column_53876-685765.jpg?w=360" style="width: 100%; margin-bottom: 20px;" alt="Responsive image">

                        </div>
                    </div>
                    <!-- Content Area -->
                    <div class="col-md-8 text-center">
                        <div class="th-templecourse-content-area">
                            <div class="th-templecourse-container th-templecourse-details">
                                <div class="th-templelatest-course-single">
                                    <div class="th-templelatest-course-single-content">
<div class="media-wrapper pt-lg-5 text-center mb-4">
                                    <img src="/home-images/home-atns.jpg" alt="Cybamatica banner" class="w-50">
<h4 class="mb-4 mt-4 font-weight-bold">எட்டாம்-திருமுறை-திருவாசகம்</h4>
                            </div>
                                        <div class="asta-lingam-content temple-about w-75 mx-auto">
                                            {{ .Content }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Image Sidebar -->
                    <div class="col-md-2">
                        <div class="img-wrappeer-sidenav">
                            <img src="https://img.freepik.com/premium-photo/png-buddhist-ashoka-pillar-architecture-lighting-column_53876-685765.jpg?w=360" style="width: 100%; margin-bottom: 20px;" alt="Responsive image">
                            <img src="https://img.freepik.com/premium-photo/png-buddhist-ashoka-pillar-architecture-lighting-column_53876-685765.jpg?w=360" style="width: 100%; margin-bottom: 20px;" alt="Responsive image">
                            <img src="https://img.freepik.com/premium-photo/png-buddhist-ashoka-pillar-architecture-lighting-column_53876-685765.jpg?w=360" style="width: 100%; margin-bottom: 20px;" alt="Responsive image">
<img src="https://img.freepik.com/premium-photo/png-buddhist-ashoka-pillar-architecture-lighting-column_53876-685765.jpg?w=360" style="width: 100%; margin-bottom: 20px;" alt="Responsive image">
                            <img src="https://img.freepik.com/premium-photo/png-buddhist-ashoka-pillar-architecture-lighting-column_53876-685765.jpg?w=360" style="width: 100%; margin-bottom: 20px;" alt="Responsive image">
                            <img src="https://img.freepik.com/premium-photo/png-buddhist-ashoka-pillar-architecture-lighting-column_53876-685765.jpg?w=360" style="width: 100%; margin-bottom: 20px;" alt="Responsive image">
                </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer -->
    <footer id="footer" class="footer" style="margin-top: 75px;">
        {{ partial "footer.html" . }}
    </footer>
</body>
</html>
