
.card-effects .card-effect {
  border: none;
  background: #dee2e6;
}
.card-effects .card-effect .card-body {
  box-shadow: 0px 5px 24.25px 0.75px rgba(0,0,0,0.1);
  background: #fff;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px
}
.card-effects .card-effect .card-img {
  position: relative;
  overflow: hidden;
}
.card-effects .card-effect:hover .card-img {
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
}
.card-effects .card-effect .card-img img {
  width: 100%;
  transition: .6s;
  height: 250px;
  object-fit: contain;
  background: #E6E6FA;
}
.card-effects .card-effect:hover .card-img img {
  transform: scale(1.2);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.card-effects .img-hover {
    position: relative;
    overflow: hidden
}
.card-effects .img-hover img {
  transition: all 2s ease;
  transform: scale(1)
}
.card-effects .img-hover:after {
  content: "";
  position: absolute;
  pointer-events: none;
  opacity: 1;
  z-index: 3
}
.card-effects .img-hover:before {
  content: "";
  position: absolute;
  pointer-events: none;
  opacity: 1;
  z-index: 3;
  top: -10%;
  right: 51%;
  bottom: -10%;
  left: 50%;
  background: rgba(255,255,255,0.3)
}
.card-effects .img-hover:after {
  top: 50%;
  right: -10%;
  bottom: 50%;
  left: -10%;
  background: rgba(255,255,255,0.6)
}
.card-effects .card-effect:hover .img-hover:before {
  left: 0;
  right: 0;
  opacity: 0;
  transition: all 900ms linear
}
.card-effects .card-effect:hover .img-hover:after {
  top: 0;
  bottom: 0;
  opacity: 0;
  transition: all 900ms linear
}
.card-effects .card-effect:hover .img-hover img {
    transform: scale(1.2)
}
.card-effects .card-btn {
    display: inline-block;
    padding: 14px 25px 14px 55px;
    position: relative;
    color: #ffffff;
    text-transform: capitalize;
    border-radius: 5px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 800;
    cursor: pointer;
    border: none;
    transition: 0.5s;
}
.card-effects .card-btn:hover {
  transition: 0.5s;
}
.card-effects .card-btn .icon-arrow {
  color: #ffffff;
  top: 16px;
  transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1),opacity 0.4s cubic-bezier(0.86, 0, 0.07,1);
  font-size: 18px;
  backface-visibility: hidden;
  transform: translateZ(0);
  perspective: 1000
}
.card-effects .card-btn .icon-arrow.before {
  left: 20%;
  position: absolute;
  transform-origin: left center
}
.card-effects .card-btn .icon-arrow.after {
  opacity: 0;
  position: absolute;
  right: 48px;
  transform: translateX(75%) scaleX(0.1);
  transform-origin: right center
}
.card-effects .card-btn.secondary {
  background-color: #ff7029
}
.card-effects .card-btn.secondary:hover, .card-effects .card-btn.secondary:active, .card-effects .card-btn.secondary:focus {
  background-color: #2fbfa7
}
.card-effects .card-btn.white .icon-arrow {
  color: #2fbfa7
}
.card-effects .card-btn.white:hover .icon-arrow, .card-effects .card-btn.white:active .icon-arrow, .card-effects .card-btn.white:focus .icon-arrow {
  color: #fff
}
.card-effects .card-btn.md .icon-arrow {
  top: 22px;
}
.card-effects .card-btn.sm {
  padding: 10px 25px 10px 50px !important;
  font-size: 14px !important
}
.card-effects .card-btn .label {
  display: inline-block;
  transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
  backface-visibility: hidden;
  transform: translateZ(0);
  perspective: 1000
}
.card-effects .card-btn.white {
  background-color: #ffffff;
  color: #2fbfa7
}
.card-effects .card-btn .icon-arrow.white {
  color: #2fbfa7;
  top: 16px
}
.card-effects .card-btn:hover, .card-effects .card-btn:active, .card-effects .card-btn:focus {
  background-color: #ff7029;
  color: #ffffff
}
.card-effects .card-btn:hover .icon-arrow.before, .card-effects .card-btn:active .icon-arrow.before, .card-effects .card-btn:focus .icon-arrow.before {
  opacity: 0;
  transform: translateX(-75%) scaleX(0.1)
}
.card-effects .card-btn:hover .icon-arrow.after, .card-effects .card-btn:active .icon-arrow.after, .card-effects .card-btn:focus .icon-arrow.after {
  opacity: 1;
  transform: translateX(0) scaleX(1)
}
.card-effects .card-btn:hover .label, .card-effects .card-btn:active .label, .card-effects .card-btn:focus .label {
  transform: translateX(-32px)
}
.card-effects .text-tb-lines {
display: grid;
    align-items: center;
    text-align: center;
    gap: 10px;
    text-transform: capitalize;
    font-size: 18px;
}
.card-effects .text-tb-lines::before, .text-tb-lines::after {
  content: '';
  border-top: 6px double;
  color: var(--secondary-color);
}
/* Bootstrap 5 Card Styles https://codepen.io/cvbijoy */


/* Asta Lingam Styles Start Here */

#th-templecourse-content {
    background-color: #f8f8f8;
    display: inline;
    float: left;
    padding: 50px 0;
    width: 100%;
}

#th-templecourse-content .th-templecourse-content-area {
    display: inline;
    float: left;
    width: 100%;
}

#th-templecourse-content .th-templecourse-content-area .th-templecourse-container {
    display: inline;
    float: left;
    width: 100%;
}

#th-templecourse-content .th-templecourse-content-area .th-templecourse-container .th-templelatest-course-single {
    border: 1px solid #ccc;
    margin-bottom: 30px;
}

#th-templecourse-content .th-templecourse-content-area .th-templesidebar {
    display: inline;
    float: left;
    width: 100%;
}

#th-templecourse-content .th-templecourse-content-area .th-templesidebar .th-templesingle-sidebar {
    background-color: #FFF;
    display: inline;
    float: left;
    margin-bottom: 25px;
    padding: 0 10px 10px;
    width: 100%;
}

#th-templecourse-content .th-templecourse-content-area .th-templesidebar .th-templesingle-sidebar .th-templesidebar-catg {
    padding-left: 15px;
}

#th-templecourse-content .th-templecourse-content-area .th-templesidebar .th-templesingle-sidebar .th-templesidebar-catg li a {
    color: #333;
    display: inline-block;
    font-size: 15px;
    font-weight: normal;
    padding: 5px 0 5px 15px;
    position: relative;
    text-transform: capitalize;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

#th-templecourse-content .th-templecourse-content-area .th-templesidebar .th-templesingle-sidebar .th-templesidebar-catg li a:hover,
#th-templecourse-content .th-templecourse-content-area .th-templesidebar .th-templesingle-sidebar .th-templesidebar-catg li a:focus {
    margin-left: 5px;
}

#th-templecourse-content .th-templecourse-content-area .th-templesidebar .th-templesingle-sidebar .th-templesidebar-catg li a:before {
    content: "\f101";
    font-family: FontAwesome;
    left: 0;
    position: absolute;
    top: 5px;
}

#th-templecourse-content .th-templecourse-content-area .th-templesidebar .th-templesingle-sidebar .th-templesidebar-popular-courses {
    display: inline;
    float: left;
    margin-top: 10px;
    width: 100%;
}

#th-templecourse-content .th-templecourse-content-area .th-templesidebar .th-templesingle-sidebar .th-templesidebar-popular-courses .media .media-left .media-object {
    width: 70px;
    height: 60px;
}

#th-templecourse-content .th-templecourse-content-area .th-templesidebar .th-templesingle-sidebar .th-templesidebar-popular-courses .media .media-body .media-heading {
    font-size: 16px;
}

#th-templecourse-content .th-templecourse-content-area .th-templesidebar .th-templesingle-sidebar .th-templesidebar-popular-courses .media .media-body .media-heading a {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#th-templecourse-content .th-templecourse-content-area .th-templesidebar .th-templesingle-sidebar .th-templesidebar-popular-courses .media .media-body .popular-course-price {
    font-size: 14px;
}

#th-templecourse-content .th-templecourse-content-area .th-templesidebar .th-templesingle-sidebar .th-templesidebar-archives li a:before {
    content: '\f0da';
}

#th-templecourse-content .th-templecourse-content-area .th-templesidebar .th-templesingle-sidebar .th-templesidebar-archives li a span {
    margin-left: 5px;
}

#th-templecourse-content .th-templecourse-content-area .th-templesidebar .th-templesingle-sidebar .tag-cloud {
    display: inline;
    float: left;
    margin-top: 5px;
    width: 100%;
}

#th-templecourse-content .th-templecourse-content-area .th-templesidebar .th-templesingle-sidebar .tag-cloud a {
    border-bottom: 1px solid #ccc;
    display: inline-block;
    font-size: 15px;
    letter-spacing: 0.3px;
    margin: 0 5px 10px;
    padding: 5px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#th-templecourse-content .th-templecourse-content-area .th-templecourse-details {
    background-color: #FFF;
}

#th-templecourse-content .th-templecourse-content-area .th-templecourse-details .th-templelatest-course-single {
    border: none;
}

#th-templecourse-content .th-templecourse-content-area .th-templecourse-details .th-templelatest-course-single .th-templelatest-course-imgcaption {
    background-color: #FFF;
}

#th-templecourse-content .th-templecourse-content-area .th-templecourse-details .th-templelatest-course-single .th-templelatest-course-single-content h2 {
    line-height: 1.7;
    margin-bottom: 10px;
}

#th-templecourse-content .th-templecourse-content-area .th-templecourse-details .th-templelatest-course-single .th-templelatest-course-single-content h4 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

#th-templecourse-content .th-templecourse-content-area .th-templecourse-details .th-templelatest-course-single .th-templelatest-course-single-content p {
    font-size: 15px;
    text-align: justify;
}

#th-templecourse-content .th-templecourse-content-area .th-templecourse-details .th-templelatest-course-single .th-templelatest-course-single-content ul {
list-style-type: none;
padding: 0;
margin: 0 0 38px;
}

#th-templecourse-content .th-templecourse-content-area .th-templecourse-details .th-templelatest-course-single .th-templelatest-course-single-content ul li {
    margin-bottom: 10px;
    border-bottom: 1px solid #72d072;
    padding: 12px 0;
}

#th-templecourse-content .th-templecourse-content-area .th-templecourse-details .th-templelatest-course-single .th-templelatest-course-single-content ul li span:first-child {
    display: inline-block;
    min-width: 275px;
    float: left;
    font-weight: 700;
}

#th-templecourse-content .th-templecourse-content-area .th-templecourse-details .th-templelatest-course-single .th-templelatest-course-single-content .table {
    margin-top: 10px;
}

/* Asta Lingam Styles end Here */


.temple-about h6 {
   font-size: 18px;
   font-weight: 600;
   margin-bottom: 10px;
}
.temple-about p {
    font-size: 16px;
    line-height: 1.6;
  margin-bottom: 30px;
}