<footer class="cm-footer mt-5">
  <div class="cm-footer-container">
    <!-- Left: Icons -->
    <div class="cm-footer-left">
      <!-- <img src="/icons/linkedin.svg" alt="Meta" />
      <img src="/icons/x.svg" alt="Video" />
      <img src="/icons/youtube.svg" alt="Close" /> -->
    </div>
      <span class="color-primary">© {{ now.Year }} NamahNest Innovations</span>
    <div class="cm-footer-right">
      <!-- <span class="color-primary">© {{ now.Year }} Cybamatica</span> -->
      <!-- <a href="#" class="color-primary">Terms of use</a>
      <a href="#" class="color-primary">Privacy Settings</a>
      <a href="#" class="color-primary">Sitemap</a> -->
    </div>
  </div>
</footer>
